* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
}

nav {
  background-color: #207dff;
  height: 10vh;
}

.landing {
  height: 90vh;
  background-color: #4e4e4e;
}

.logo {
  display: flex;
  width: 50%;
  position: relative;
  margin-right: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.text {
  width: 30%;
  padding-top: 23vh;
  margin-left: 35vh;
}

.text h1 {
  font-size: 50px;
}

.text p {
  font-size: 20px;
}

.computer {
  height: 50%;
  margin-left: 130vh;
}

@media (min-width: 320px) and (max-width: 480px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hambuger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: #207dff;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
}
