* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 400vh;
	font-family: "Roboto Mono", monospace;
	background-color: #4e4e4e;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
}

nav {
	background-color: #207dff;
	height: 10vh;
}

.landing {
	height: 90vh;
}

.logo {
	display: flex;
	width: 50%;
	position: relative;
	margin-right: auto;
}

.nav-links {
	display: flex;
	list-style: none;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
}

.nav-links li a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.text {
	width: 30%;
	padding-top: 10%;
	margin-left: 35vh;
}

.computer {
	height: 50%;
	margin-left: 60%;
}

.about {
	height: 100vh;
	background-color: #7bc67b;
	padding-top: 10%;
}

.text-about {
	float: right;
	width: 40%;
	margin-left: auto;
	padding-top: 10%;
}

.text-about p {
	width: 70%;
}

.about img {
	margin-left: 30vh;
	padding-bottom: 300px;
}

.skills {
	height: 100vh;
	background-color: coral;
}

.text-skills {
	padding-top: 20%;
	width: 50%;
	padding-left: 23%;
}

.code {
	position: relative;
	float: right;
	width: 25%;
	margin-right: 14%;
	bottom: 230px;
}

.projects {
	height: 95vh;
}

.last {
	height: 5vh;
	display: flex;
	width: 5%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
}

.last-text {
	font-size: 17px;
	width: 15%;
	margin-left: auto;
}

.projects img {
	position: relative;
	bottom: 17vh;
	left: 15%;
}

.text-projects {
	width: 35%;
	margin-left: auto;
	padding-top: 10%;
}

.text-projects a {
	text-decoration: none;
	color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}

	nav {
		position: relative;
	}

	.hambuger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}

	.nav-links {
		position: fixed;
		background: #207dff;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		align-items: center;
		clip-path: circle(100px at 90% -10%);
		-webkit-clip-path: circle(100px at 90% -10%);
		transition: all 1s ease-out;
	}
	.nav-links.open {
		clip-path: circle(1000px at 90% -10%);
		-webkit-clip-path: circle(1000px at 90% -10%);
	}
}
